// @media screen and (min-width: 480px) {

// }

// @media screen and (min-width: 768px) {

// }

// @media screen and (min-width: 1200px) {

// }

.advant {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__list {
    flex-direction: column;
    display: flex;
    gap: 30px;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__item {
    // &::before {
    //   content: "";
    //   margin-bottom: 30px;
    //   display: block;
    //   width: 100%;
    //   height: 120px;
    //   border-radius: 4px;
    //   background-color: $team-background;
    //   background-position: center;
    //   background-repeat: no-repeat;

      @media screen and (min-width: 480px) {
        width: 450px;
      }
      @media screen and (min-width: 768px) {
        width: 354px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
      }
    }

    &__box {
      width: 100%;
      height: 120px;
      border-radius: 4px;
      background-color: $team-background;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 480px) {
        
      }
      @media screen and (min-width: 768px) {
        
      }

      @media screen and (min-width: 1200px) {
       
      }
    }

  //   &:first-child::before {
  //     background-image: url(../../img/symbol-defs.svg#icon-antenna);
  //   }

  //   &:nth-child(2)::before {
  //     background-image: url(../../img/symbol-defs.svg#icon-clock);
  //   }

  //   &:nth-child(3)::before {
  //     background-image: url(../../img/symbol-defs.svg#icon-diagram);
  //   }

  //   &:last-child::before {
  //     background-image: url(../../img/symbol-defs.svg#icon-astronaut);
  //   }
  // }

  &__svg {
     width: 70px;
     height: 70px;
  }

  &__title {
    color: $text-color;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
      text-align: start;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__text {
    color: $added-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.4px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
